@media (max-width: 35em) {
	body {
		padding: 2em;
	}
}

* {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	line-height: 1.5em;
}	

body {
	max-width: 35em;
	margin: 10px auto;
}

article {
	margin: 2em 0;
}

/*comment on css-changes branch*/
/* another comment for github example */
